<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Cloud_project</servlet-name>
		<servlet-class>project.Cloud_projectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cloud_project</servlet-name>
		<url-pattern>/cloud_project</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Google_books_test</servlet-name>
		<servlet-class>project.bookinfo.search.GoogleBooksTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Google_books_test</servlet-name>
		<url-pattern>/gbooks_test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Searchpage</servlet-name>
		<servlet-class>project.SearchpageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Searchpage</servlet-name>
		<url-pattern>/searchpage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Epub_parser_test</servlet-name>
		<servlet-class>project.bookinfo.ebookparser.EpubParserTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Epub_parser_test</servlet-name>
		<url-pattern>/parser_test</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>createShelf</servlet-name>
		<servlet-class>project.bookinfo.search.CreateShelfServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
	    <servlet-name>createShelf</servlet-name>
	    <url-pattern>/createShelf</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>createShelfForm</servlet-name>
    	<jsp-file>WEB-INF/formShelf.jsp</jsp-file>
	</servlet>	
	<servlet-mapping>
	    <servlet-name>createShelfForm</servlet-name>
	    <url-pattern>/create</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
    <welcome-file-list>
		<welcome-file>WEB-INF/Searchpage.jsp</welcome-file>
	</welcome-file-list>
	
	
</web-app>
